<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @directory_user.username %>
</p>


<%= link_to 'Edit', edit_directory_user_path(@directory_user) %> |
<%= link_to 'Back', directory_users_path %>
